@model FamilyBudget.WebApp.ProjectModels.ProjectModels.IEs_DuplicateIEs
@{
    ViewBag.Title = "EditRemoveIE";

    var colorClass = String.Empty;
}

<input id="id" hidden value="-1" />
<a id="hrefHelper" href="~/Service/EditIE/?id=" hidden></a>
<a id="hrefHelper2" href="~/Service/EditDuplicateIE/?id=" hidden></a>

<script>
    function showHide(id) {
        if (id === "editDuplicateIE") {
            document.getElementById("editIE").classList.add('hidden');
        }
        else {
            document.getElementById("editDuplicateIE").classList.add('hidden');
        }

        if (document.getElementById(id).classList.contains('hidden')) {
            document.getElementById(id).classList.remove('hidden');
            document.getElementById(id).classList.add('show');
        }
        else {
            document.getElementById(id).classList.remove('show');
            document.getElementById(id).classList.add('hidden');
        }
    }


    function editIE() {
        var hrefHelper = document.getElementById('hrefHelper').href;
        var value = document.getElementById('value').value;
        var id = document.getElementById('id').value;
        var date = document.getElementById('date').value;

        window.location.href = hrefHelper + id + '&value=' + value + '&date=' + date;
    }

    function editDuplicateIE() {
        var hrefHelper = document.getElementById('hrefHelper2').href;
        var value = document.getElementById('valueD').value;
        var id = document.getElementById('id').value;
        var day = document.getElementById('dayD').value;

        window.location.href = hrefHelper + id + '&value=' + value + '&day=' + day;
    }

    function showDuplicateIEForm(id) {
        document.getElementById('id').value = id;

        showHide("editDuplicateIE");
    }

    function showIEForm(id) {
        document.getElementById('id').value = id;

        showHide("editIE");
    }
</script>

<style>
    .hidden {
        display: none;
    }

    .show {
        display: block;
    }

    .pageContainer {
        width: 100%;
    }

    .componentContainer {
        display: inline-block;
        width: 92%;
    }

    .buttonsContainer {
        display: inline-block;
    }

    .mainComoponentsContainer {
        -webkit-box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.75);
        -moz-box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.75);
        box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.75);
        margin-top: 20px;
        border-radius: 7px;
        font-size: 22px;
        padding-top: 5px;
        padding-bottom: 5px;
    }

    .component {
        display: inline-block;
        width: 32%;
        text-align: center;
    }

    .red {
        color: red;
    }

    .green {
        color: forestgreen;
    }

    .edit {
        color: #BDC41F;
    }

        .edit:hover {
            cursor: pointer;
        }

    .remove {
        padding-left: 5px;
        color: red;
    }

        .remove:hover {
            cursor: pointer;
        }

    .editUnit {
        margin: 5px;
    }

    .editIE {
        margin: 20px;
    }

    .editDuplicateIE {
        margin: 20px;
    }
</style>

<div id="editIE" class="editIE hidden">
    <input class="form-control editUnit" id="value" type="text" placeholder="Choose value" />
    <input class="form-control editUnit" id="date" type="date" />
    <button class="btn btn-success editUnit" onclick="editIE()"> EDIT </button>
</div>


<div id="editDuplicateIE" class="editDuplicateIE hidden">
    <input class="form-control editUnit" id="valueD" type="text" placeholder="Choose value" />
    <input class="form-control editUnit" id="dayD" type="number" min="1" max="2" placeholder="Choose day" />
    <button class="btn btn-success editUnit" onclick="editDuplicateIE()"> EDIT </button>
</div>


<input id="id" value="-1" hidden />

<div class="pageContainer">


    @foreach (var ie in Model.IEs)
    {
        if (ie.IEType == FamilyBudget.WebApp.Models.IEType.Income)
        {
            colorClass = "green";
        }
        else
        {
            colorClass = "red";
        }

        <div class="mainComoponentsContainer">

            <div class="componentContainer">
                <div class="component @colorClass">@ie.IEType </div>
                <div class="component @colorClass"> @ie.Value $</div>
                <div class="component">@ie.Date.ToString("dd/MM/yyyy") </div>
            </div>

            <div class="buttonsContainer">

                <span class="glyphicon glyphicon-edit edit" onclick="showIEForm(@ie.Id)"> </span>

                <a href="@Url.Action("RemoveIE", "Service", new { id = ie.Id })">
                    <span class="glyphicon glyphicon-remove remove"> </span>
                </a>

            </div>

        </div>
    }

    @foreach (var dIE in Model.DuplicateIEs)
    {
        if (dIE.IEType == FamilyBudget.WebApp.Models.IEType.Income)
        {
            colorClass = "green";
        }
        else
        {
            colorClass = "red";
        }
        <div class="mainComoponentsContainer">

            <div class="componentContainer">
                <div class="component @colorClass">@dIE.IEType-Duplicate </div>
                <div class="component @colorClass">@dIE.Value $</div>
                <div class="component">Day @dIE.Day </div>
            </div>

            <div class="buttonsContainer">
                <span class="glyphicon glyphicon-edit edit" onclick="showDuplicateIEForm(@dIE.Id)"> </span>

                <a href="@Url.Action("RemoveDuplicateIE", "Service", new { id = dIE.Id })">
                    <span class="glyphicon glyphicon-remove remove"> </span>
                </a>

            </div>

        </div>
    }

</div>
